body {
  	background: url(tree_super_low.jpg);
  	background-repeat: no-repeat;
  	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-top: 300px;
}

.container .jumbotron {
	border-radius: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
	align-items: center;
	background: rgba(204, 204, 204, 0.0);
}

.jumbotron {
	align-items: center;
}

/* my name in big font */
.main-header h1 {
	font-family: 'Muli', sans-serif;
	font-weight: 200;
	font-size: 500%;
	color: #ffffff;
	letter-spacing: 5px;
  	padding: 10px;
  	text-align: center;
  	border-style: solid;
  	border-color: #ffffff;
  	border-width: 2px;
}

/* the little */
.main-header p {
	font-family: 'Muli', sans-serif;
	font-weight: 200;
	text-align: center;
	font-size: 120%;
	color: #ffffff;
	margin-bottom: 25px;
}

.project-table img {
	max-width: 400px;
	max-height: 400px;
	border-radius: 10px;
}

/* big font */
.projects h1 {
	font-family: 'Muli', sans-serif;
	font-weight: 200;
	font-size: 500%;
	color: #ffffff;
	letter-spacing: 5px;
  	padding: 10px;
  	text-align: center;
  	border-style: solid;
  	border-color: #ffffff;
  	border-width: 2px;
  	margin-top: 20%;
  	text-decoration: none;
}

.projects a {
	text-decoration: none;
}

/* the little words */
.projects p {
	font-family: 'Muli', sans-serif;
	font-weight: 200;
	text-align: center;
	font-size: 120%;
	color: #ffffff;
	margin-bottom: -50px;
}

.project-table {
	width: 100%;
	table-layout: fixed;
}

.project-table td {
	vertical-align: top;
	text-align: center;
	padding: 25px;
	font-family: 'Muli', sans-serif;
	font-weight: 200;
	text-align: center;
	font-size: 110%;
	color: #ffffff;
}

.project-table .description {
	font-family: 'Muli', sans-serif;
	font-weight: 200;
	text-align: center;
	font-size: 100%;
	color: #ffffff;
	text-decoration: none;
	border-style: solid;
	border-color: #ffffff;
	border-width: 1px;
	border-bottom: 1px;
	border-left: 1px;
	border-right: 1px;
}

.project-table .description a {
	color: #ffffff;
	text-decoration: underline;
}

.personal-links h1 {
	font-family: 'Muli', sans-serif;
	font-weight: 200;
	font-size: 500%;
	color: #ffffff;
	letter-spacing: 5px;
  	padding: 10px;
  	text-align: center;
  	border-style: solid;
  	border-color: #ffffff;
  	border-width: 2px;
  	text-decoration: none;
  	margin-bottom: 15px;
}

.personal-links p {
	font-size: 150%;
	text-align: center;
	border-style: solid;
	border-color: #ffffff;
	border-width: 1px;
	text-decoration: none;
	transition: all .4s ease 0s;
}

.personal-links a {
	color: #ffffff;
	text-decoration: none;
}

.personal-links a:hover {
	text-decoration: none;
}

.personal-links p:hover {
	color: #FFFFFF;
	background-color: rgba(0, 0, 0, 0.5);
	text-decoration: none;
}

.personal-links table {
	width: 100%;
	table-layout: fixed;

}

.personal-links td {
	vertical-align: top;
	text-align: center;
	font-family: 'Muli', sans-serif;
	font-weight: 200;
	text-align: center;
	font-size: 110%;
	color: #ffffff;
}

.resume-links-top table {
	width: 100%;
	table-layout: fixed;

}

.resume-links-top td {
	vertical-align: top;
	text-align: center;
	font-family: 'Muli', sans-serif;
	font-weight: 200;
	text-align: center;
	font-size: 110%;
	color: #ffffff;
}

.left {
	padding-right: 5px;
}

.right {
	padding-left: 5px;
}

.center {
	padding-right: 5px;
	padding-left: 5px;
}

.resume-links-top p {
	font-family: 'Muli', sans-serif;
	font-weight: 200;
	font-size: 150%;
	text-align: center;
	border-style: solid;
	border-color: #ffffff;
	border-width: 1px;
	text-decoration: none;
	transition: all .4s ease 0s;
}

.resume-links-top a {
	color: #ffffff;
	text-decoration: none;
}

.resume-links-top a:hover {
	text-decoration: none;
}

.resume-links-top p:hover {
	color: #FFFFFF;
	background-color: rgba(0, 0, 0, 0.5);
	text-decoration: none;
}

.resume-header h1 {
	font-family: 'Muli', sans-serif;
	font-weight: 200;
	font-size: 500%;
	color: #ffffff;
	letter-spacing: 5px;
  	padding: 10px;
  	text-align: center;
  	border-style: solid;
  	border-color: #ffffff;
  	border-width: 2px;
  	margin-bottom: -3.5%;
}

.container .bottom h4 {
	font-family: 'Muli', sans-serif;
	font-weight: 200;
	font-size: 115%;
	color: #ffffff;
	text-decoration: none;
	text-align: center;
	border-style: solid;
	border-color: #ffffff;
	border-width: 1px;
	border-bottom: 1px;
	border-left: 1px;
	border-right: 1px;
	padding-top: 10px;
}

.container .bottom p {
	font-family: 'Muli', sans-serif;
	font-weight: 200;
	font-size: 100%;
	color: #ffffff;
	text-align: center;
	margin-top: -10px;
}

/*navbar formatting*/
.navbar-nav {
    margin: 0 auto;
    display: table;
    table-layout: fixed;
    float:none;
    font-size: 150%;
}
 
/* navbar */
.navbar-default {
    border-bottom-width: 0px;
    background: rgba(0, 0, 0, 0.5);
}

.navbar-default .navbar-nav > li > a {
	font-family: 'Muli', sans-serif;
	font-weight: 200;
	color: #ffffff;
	transition: all .4s ease 0s;
}

/* color of mouse-over navbar text */
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	color: #ffffff;
}

/* color of mouse-over active navbar text & background */
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
	font-family: 'Muli', sans-serif;
	font-weight: 200;
	color: #ffffff;
    background-color: rgba(0, 0, 0, 0.0);
}

a.anchor {
	display: block;
	position: relative;
	top: -70px;
	visibility: hidden;
}















